# Project files
/dist
/.env.local
/.env.*.local
/venv
/.gitignore
# Package manager files
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Generated
/*.tgz

# Other
/inspected-config.txt
/inspected-config-production.txt